<html>
    <head>
        <title>Confirm Delete</title>
    </head>
    <body>
        <h2>Stylist {{ stylist.getName }} has been fired!</h2>
        <a href="/">See your remaining loyal employees</a>
    </body>
</html>
