
<html>
    <head>
        <link href="../../css/custom.css" rel='stylesheet' type="text/css">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Update Stylist</title>
    </head>
    <body>
        <div class="container">
            <h2>Update {{ stylist.getname }}'s info </h2>

            <form action="/stylist/{{ stylist.getId }}" method="post">
                <input name="_method" type="hidden" value="patch">

                <label for="name">Rename your stylist:</label>
                <input id="name" name="name" type="text">
                <button name="submit">Update</button>
            </form>

            <h2>Or maybe you want to fire {{ stylist.getName }}?</h2>
            <form action="/stylist/{{ stylist.getId }}" method="post">
                <input name="_method" type="hidden" value="delete">
                <button type="submit">Yeah, can 'em!!'</button>
            </form>
            <a href="/">No! Take me to my home page</a>
        </div>
    </body>
</html>
