<h2>Update {{ stylist.getname }}'s info</h2>

<form action="/stylist/{{ stylist.getId }}" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Rename your stylist:</label>
  <input id="name" name="name" type="text">

  <button name="submit">Update</button>

  <h2>Or maybe you want to fire {{ stylist.getName }}?</h2>
  </form>
      <form action="/stylist/{{ stylist.getId }}" method="post">
      <input name="_method" type="hidden" value="delete">

      <button type="submit">Yeah, can 'em!!'</button>
      <a href="/">No! Take me to my home page</a>
  </form>
</form>
