copy index to modify

<html>
    <head>
        <title>Restaurants List</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/../main.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body>

        <div class="container">
            <h2>Welcome to the Restaurant List</h2>
            <div class="row">
                <div class="col-xs-6" style="text-align:center;">
                        <form action='/restaurants' method='get'>
                            <button class="btn btn-default" type='submit'>Restaurants</button>
                        </form>
                        <p>Edit or view Restaurants</p>
                </div>
                <div class="col-xs-6" style="text-align:center;">
                        <form action='/cuisine' method='get'>
                            <button class="btn btn-default" style="padding-right:20px;padding-left:20px;" type='submit'>Cuisine</button>
                        </form>
                        <p>Edit or view Cuisines</p>
                </div>
            </div>
        </div>
    </body>
</html>
