<html>
    <head>
        <link href="css/custom.css" rel='stylesheet' type="text/css">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Stylist Added</title>
    </head>
    <body class="withcover">
        <div class="container">
            <h3>Stylist {{ stylist.getName }} added to your roster!</h3>
            <a href="/">Home</a>
        </div>
    </body>
</html>
